@charset "UTF-8";

a:link, a:visited, a:hover, a:active {
	color: #333;
	text-decoration: none;
}

.header_wrap {
	display: flex;
	border: 1px solid #333;
	margin-bottom: 40px;
	justify-content: space-between;
}

.header_wrap h1 {
	position: absolute;
	left: -2000;
}

.h_navbar ul {
	display: flex;
	text-align: center;
}

.h_navbar ul li {
	padding-right: 15px;
	padding-left: 15px;
	width: 100px;
	list-style-type: none;
}

.h_navbar ul a{
	font-weight: bold;
	font-size: 1.0625rem;
}

.header_logo {
	width: 11.875rem;
	margin-left: 0;
}

.header_container {
	width: auto;
	margin: 0 auto;
	padding-top: 20px;
}